attrs==20.3.0
beautifulsoup4==4.12.3
blinker==1.8.2
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
check50==3.3.11
click==8.1.7
compare50==1.2.6
cryptography==43.0.1
cs50==9.3.4
Flask==3.0.3
greenlet==3.0.3
idna==3.8
intervaltree==3.1.0
itsdangerous==2.2.0
jellyfish==0.11.2
Jinja2==3.1.4
lib50==3.0.11
MarkupSafe==2.1.5
numpy==1.26.4
packaging==24.1
pexpect==4.9.0
ptyprocess==0.7.0
pycparser==2.22
Pygments==2.18.0
PyYAML==6.0.2
requests==2.32.3
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==2.0.34
sqlparse==0.5.1
termcolor==1.1.0
tqdm==4.66.5
typing_extensions==4.12.2
urllib3==2.2.2
Werkzeug==3.0.4
